@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

/* Fonts */
@font-face {
  font-family: "Redaction-35";
  src: url("./fonts/redaction/Redaction_35-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Redaction-50";
  src: url("./fonts/redaction/Redaction_50-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Redaction-70";
  src: url("./fonts/redaction/Redaction_70-Bold.woff2") format("woff2");
}

.re-70 {
  font-family: "Redaction-70";
}

.re-50 {
  font-family: "Redaction-50";
}

.re-35 {
  font-family: "Redaction-35";
}

:root {
  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.background-hero {
  background-image: url(./images/hero-img-mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0% right 62%;
}

@media only screen and (min-width: 540px) {
  .background-hero {
    background-position: bottom -50% right 62%;
  }
}


@media only screen and (min-width: 920px) {
  .background-hero {
    background-image: none;
  }
}

.articulat {
  font-family: "articulat-cf", sans-serif;
}

.crown {
  left: 50%;
  transform: translate(-50%, -215%);

}

@media only screen and (min-width: 920px) {
  .crown {
    left: 135px;
    top: 269px;
  }
}


@media only screen and (min-width: 1440px) {
  .crown {
    left: 135px;
    top: 318px;
  }
}

@media only screen and (min-width: 1536px) {
  .crown {
    left: 135px;
    top: 314px;
  }
}

@media only screen and (min-width: 1727px) {
  .crown {
    left: 135px;
    top: 344px;
  }
}

.bio-bg {
  background-image: url(./images/misc-bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 920px) {
  .bio-bg {
    background-image: url(./images/misc-bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (min-width: 1440px) {
  .bio-bg {
   background: none;
  }
}

@media only screen and (min-width: 1440px) {
  .bio-bg-dsk {
    background-image: url(./images/bio-bg-desktop.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right top;
  }
}

@media only screen and (min-width: 1536px) {
  .bio-bg-dsk {
    background-image: url(./images/bio-bg-desktop.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right top;
  }
}
@media only screen and (min-width: 1727px) {
  .bio-bg-dsk {
    background-image: url(./images/bio-bg-desktop.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right top;
  }
}

.bio-bg-highlight {
  background-image: url(./images/misc-bg2.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top;
}

@media only screen and (min-width: 920px) {
  .bio-bg-highlight {
    background-image: url(./images/misc-bg2.svg);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 10% 0%;
  }
}

.video-bg {
  background-image: url(./images/cherry-grey.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (min-width: 600px) {
  .video-bg {
    background-image: none;
  }
}

.signature::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: blue;
  position: absolute;
  left: -35px;
  top: 22px;
}
.signature::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: blue;
  position: absolute;
  left: 135px;
  top: 22px;
}


@media only screen and (min-width: 920px) {
  .video-bg{
    background-image: url(./images/cherry-grey.svg), url(./images/grey-arrow.svg);
    background-position: left bottom -1px, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 25%;
  }
  
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: bottom 1px solid #7DF94E;
  -webkit-text-fill-color: #7DF94E;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.arrow {
width: 41px;
height: 41px;
border-radius: 50%;
background-color: black;
}

.arrow.arrow-left {
  left: 0;
}
.arrow.arrow-right {
  right: 0;
}

@media only screen and (min-width: 920px) {
  .swiper {
    padding:3rem;
  }
  
}



.swiper .res-slide {
  min-width: 300px;
  max-width: 400px;
  min-height: 350px;
  border: 2px solid #070707;
  border-radius: 20px;
}

.swiper-nav-btns button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #070707;
  color: #fff;
  margin: 0px 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  transition: all .5s;
}

.swiper-nav-btns button:hover {
  background-color: #C9C9C9;
  cursor: pointer;
}

/* Scroll to top */

.top-to-btm{
  position: fixed; 
  width: 100%;
  right: 2rem;
  bottom: 3rem;
  height: 60px;
  width:60px;
  font-size: 3rem;
  z-index: 999;
  cursor: pointer;
  color: #7DF94E;
}


@media only screen and (min-width: 920px) {
  .top-to-btm{
    right: 3rem;
    bottom: 7rem;
  }
}

/* Hero image animation */

.heroImage{
  transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {
	
		transform: translatey(-20px);
	}
	100% {
	
		transform: translatey(0px);
	}
}

/* Hero Title Animation */
.title-hero {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #7DF94E; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent;}
  50% { border-color: #7DF94E; }
}


/* Niño emperador animation */
.text-emperador{
  transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}


.navbar-link::after{
  content: "";
  height: 2px;
  width: 0%;
  background-color: black;
  display: block;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.navbar-link:hover::after{
  content: "";
  height: 2px;
  width: 100%;
  opacity: 1;
  background-color: #7DF94E;
  display: block;
}



/* Modal */


/* Play Button */

.play {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 6.6666666667px solid silver;
  border-radius: 20%;
  cursor: pointer;
  transition: all 200ms;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play:after, .play:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 50px;
  background-color: silver;
  left: 25px;
  top: 25px;
  transition: all 200ms;
}
.play:after {
  margin-left: 23px;
  -webkit-clip-path: polygon(0px 12.5px, 25px 25px, 25px 25px, 0px 37.5px);
          clip-path: polygon(0px 12.5px, 25px 25px, 25px 25px, 0px 37.5px);
}
.play:before {
  -webkit-clip-path: polygon(0px 0px, 25px 13.5px, 25px 36.5px, 0px 50px);
          clip-path: polygon(0px 0px, 25px 13.5px, 25px 36.5px, 0px 50px);
}
.play:hover {
  border-color: #ddd;
  box-shadow: 0 0 2px 2px rgba(221, 221, 221, 0.6);
}
.play:hover:before {
  -webkit-clip-path: polygon(0px 0px, 18.75px 0, 18.75px 50px, 0px 50px);
          clip-path: polygon(0px 0px, 18.75px 0, 18.75px 50px, 0px 50px);
  background-color: #ddd;
}
.play:hover:after {
  -webkit-clip-path: polygon(6.25px 0px, 25px 0, 25px 50px, 6.25px 50px);
          clip-path: polygon(6.25px 0px, 25px 0, 25px 50px, 6.25px 50px);
  background-color: #ddd;
}

.video-link{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.video-link:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.vid{
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  position:relative
  /* background-image: url(../src/images/videos/dior.png); */
}

.vid img{
  transform: scale(1);
  will-change: transform;
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.vid img:hover{
  transform: scale(1.2);
}

.play-button{
  visibility: hidden;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4), 2px 2px 6px rgba(0, 0, 0, 0.3);
  justify-content: center;
  letter-spacing: 1px;
  transform: scale(0.6);
  transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
  opacity: 0;
  position:absolute;
  top:40%;
  left:45%;

}

.play-button-small{
  visibility: hidden;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4), 2px 2px 6px rgba(0, 0, 0, 0.3);
  justify-content: center;
  letter-spacing: 1px;
  transform: scale(0.6);
  transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
  opacity: 0;
  position:absolute;
  top:30%;
  left:35%;
}

.play-button-mobile{
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4), 2px 2px 6px rgba(0, 0, 0, 0.3);
  justify-content: center;
  letter-spacing: 1px;
  transform: scale(0.6);
  transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
  opacity: 1;
  position:absolute;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vid:hover .play-button {
  visibility: visible;
  transform: scale(1);
  opacity: 0.6;
}

.vid:hover .play-button-small {
  visibility: visible;
  transform: scale(1);
  opacity: 0.6;
}