@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Redaction-35";
  src: url("./fonts/redaction/Redaction_35-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Redaction-50";
  src: url("./fonts/redaction/Redaction_50-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Redaction-70";
  src: url("./fonts/redaction/Redaction_70-Bold.woff2") format("woff2");
}

.re-70 {
  font-family: "Redaction-70";
}

.re-50 {
  font-family: "Redaction-50";
}

.re-35 {
  font-family: "Redaction-35";
}

:root {
  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.background-hero {
  background-image: url(./images/hero-img-mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0% right 62%;
}

@media only screen and (min-width: 540px) {
  .background-hero {
    background-position: bottom -50% right 62%;
  }
}


@media only screen and (min-width: 920px) {
  .background-hero {
    background-image: none;
  }
}

.articulat {
  font-family: "articulat-cf", sans-serif;
}

.crown {
  left: 50%;
  transform: translate(-50%, -215%);
}

@media only screen and (min-width: 920px) {
  .crown {
    left: 135px;
    top: 269px;
  }
}


@media only screen and (min-width: 1440px) {
  .crown {
    left: 135px;
    top: 318px;
  }
}

@media only screen and (min-width: 1536px) {
  .crown {
    left: 135px;
    top: 314px;
  }
}

@media only screen and (min-width: 1727px) {
  .crown {
    left: 135px;
    top: 344px;
  }
}

.bio-bg {
  background-image: url(./images/misc-bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 920px) {
  .bio-bg {
    background-image: url(./images/misc-bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (min-width: 1440px) {
  .bio-bg {
    background-image: url(./images/misc-bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (min-width: 1536px) {
  .bio-bg {
    background-image: url(./images/misc-bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }
}
@media only screen and (min-width: 1727px) {
  .bio-bg {
    background-image: url(./images/misc-bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }
}

.bio-bg-highlight {
  background-image: url(./images/misc-bg2.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top;
}

@media only screen and (min-width: 920px) {
  .bio-bg-highlight {
    background-image: url(./images/misc-bg2.svg);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 10% 0%;
  }
}

.video-bg {
  background-image: url(./images/cherry-grey.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (min-width: 600px) {
  .video-bg {
    background-image: none;
  }
}

.signature::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: blue;
  position: absolute;
  left: -35px;
  top: 22px;
}
.signature::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: blue;
  position: absolute;
  left: 135px;
  top: 22px;
}


@media only screen and (min-width: 920px) {
  .video-bg{
    background-image: url(./images/cherry-grey.svg), url(./images/grey-arrow.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 25%;
  }
  
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: bottom 1px solid #7DF94E;
  -webkit-text-fill-color: #7DF94E;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.arrow {
width: 41px;
height: 41px;
border-radius: 50%;
background-color: black;
}

.arrow.arrow-left {
  left: 0;
}
.arrow.arrow-right {
  right: 0;
}

@media only screen and (min-width: 920px) {
  .swiper {
    padding:3rem;
  }
  
}



.swiper .res-slide {
  min-width: 300px;
  max-width: 400px;
  min-height: 350px;
  border: 2px solid #070707;
  border-radius: 20px;
}

.swiper-nav-btns button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #070707;
  color: #fff;
  margin: 0px 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  transition: all .5s;
}

.swiper-nav-btns button:hover {
  background-color: #C9C9C9;
  cursor: pointer;
}